.bio {
    display: flex;
    justify-content: center;
    width: 100%
}

.about_content {
    width: 80%;
    max-width: 50rem;
}

.bio_image {
    margin: 2rem 0rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.bio_image-container {
    width: 60rem;
    height: auto;
}

div.bio_image-container > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
