.gigs-heading_container {
    width: 100%;
}

.gigs-heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.gigs_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gigs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 55rem;
}

.gig {
    margin-bottom: 0.1rem;
}
