.gigs-heading_container {
    width: 100%;
}

.gigs-heading {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.gigs_container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 2rem;
}

.gigs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 60rem;

    .gig {
        padding-bottom: 0.5rem;
        margin-bottom: 0.1rem;
        border-bottom: 1px solid grey;
        width: 17.5rem;

        .gig-card_heading,
        .gig-card_subheading,
        .gig-card_desc {
            margin-bottom: 0.5rem;
        }
    }
}

@media only screen and (max-device-width: 450px) {
    .gigs {
        align-items: center;
        .gig {
            width: 80%;
        }
    }
}
