.music-embeds_container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 2rem;
}

.music-embeds {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60rem;
}

.music-embed_iframe {
    border: 0;
    width: 100%;
    height: 120px;
    margin-bottom: 1rem;
}

@media only screen and (max-device-width: 450px) {
    .music-embeds {
        align-content: center;
    }
    .music-embed_iframe {
        width: 70%;
    }
}
    
