/* Header styles */
main-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 1.5rem;
    box-sizing: border-box;
}

.header-links_container {
    width: 100%;
    max-width: 55rem;
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    min-width: 15rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.header-link {
    text-decoration: none;
    color: white;
}

.header-link:hover {
    color: grey;
}

.header-socials {
    display: flex;
    min-width: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.header-social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}

.header-socials_image-container {
    width: 1.65rem;
    height: auto;
    cursor: pointer;
}

div.header-socials_image-container > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} 

/* Shared Component Styles */

@media only screen and (max-device-width: 400px) {
    .music-embed_card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-device-width: 400px) {
    header {
        height: 8rem;
    }

    .header-links_container {
        flex-direction: column;
        align-items: center;
        height: 80%;
    }

    .header-links {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.75rem;
    }

    .header-link_container {
        margin-bottom: 0.5rem;
    }

    .header-link {
        font-size: 1.5rem;
    }

    .header-socials_container {
        justify-content: center;
        width: 100%;
        margin-right: 0;
    }
}

/* Footer styles */
main-footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: black;
    padding-left: 0.65rem;
    border-top: 1px solid grey;
}

footer {
    display: flex;
    width: 100%;
    max-width: 55rem;
    justify-content: flex-start;
    text-align: left;
}
