@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
/* Preload directives */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 200;
    src: url('https://fonts.gstatic.com/s/heebo/v9/NGS0vZ5XhOFmOhj_WaFQ5w.woff2')
        format('woff2');
    /* Add more font formats and URLs if necessary */
    /* You can obtain the URLs for different font formats from the Google Fonts API */
    font-display: swap;
}

@font-face {
    font-family: 'Carter One';
    font-style: normal;
    font-weight: normal;
    src: url('https://fonts.gstatic.com/s/carterone/v12/q5uCsoe5IOB2-pXv9UcNIg.woff2')
        format('woff2');
    /* Add more font formats and URLs if necessary */
    /* You can obtain the URLs for different font formats from the Google Fonts API */
    font-display: swap;
}

:root {
    --main-bg-color: black;
    --secondary-bg-color: #1c0b19;
    --tertiary-bg-color: #2d1113;
    --header-bg-color: #1c0b19;
    --footer-bg-color: #1c1a1c;
    --main-text-color: #e8e5da;
    --secondary-text-color: #69018f;
    --main-border-color: #d4d3e3;
    --secondary-border-color: #d4d3e3;
}

body,
main {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: 'Heebo', sans-serif;
    margin: 0;
}

h2,
h3 {
    font-family: 'Carter One', cursive;
}

.heading_container {
    width: 100%;
}

.heading {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
}
