@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&?family=Carter+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body,
main {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    background-color: black;
    font-family: 'Heebo', sans-serif;
}

h2, h3 {
    font-family: 'Carter One', cursive
}

.heading_container {
    width: 100%;
}

.heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
