body,
main {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    background-color: black;
}

.heading_container {
    width: 100%;
}

.heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
